*.sql
01-user.sql
!01-user.sql.template
!*.template
docker-compose.override.yml
!docker-compose.override.yml.example
.env
!.env.example
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.vscode/

alembic/*.pyc
alembic/versions/*.pyc

app/__pycache__/
app/models.pyc

static/covers/
data/